body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: black;
}

.game-area {
  display: grid;
  grid-template-columns: repeat(40px, 5);
  grid-template-rows: repeat(40px, 5);
  gap: 4px;
  background-color: black;
}

.mine {
  background-color: red;
}

.safe {
  background-color: light-gray;
}

div {
  background-color: white;
}
